.l-col__sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    min-width: 0;
}
div {
    display: block;
}
.fonts-loaded body {
    font-family: Helvetica, sans-serif;
}
body {
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
    color: #424242;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
}
html {
    font-size: 17px;
}
html {
    font-size: 18px;
}
html {
    text-size-adjust: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
html {
    color: -internal-root-color;
}
*, :after, :before {
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
.c-list__body {
    position: relative;
}
.c-list__body {
    padding: 16px 12px 0 0;
}

.l-col__sidebar>:first-child {
    margin-top: 0;
}
.l-col__sidebar>* {
    margin-top: 1.2rem;
}
.fonts-loaded body {
    font-family: Helvetica, sans-serif;
}
.c-list__title:before {
    position: absolute;
    background-color: #393092;
    content: "";
    height: 2px;
    bottom: 0;
    left: 15px;
    right: 0;
    z-index: 1;
}
.c-list__title:after {
    background-color: #393092;
    bottom: 12px;
    content: "";
    height: 2px;
    left: -2px;
    position: absolute;
    transform-origin: bottom;
    transform: rotate(-120deg);
    width: 25px;
    z-index: 1;
}
.fonts-loaded .c-list__title {
    font-family: "Heroic",Arial Narrow,Helvetica,sans-serif;
}
.fonts-loaded .c-list__title {
    font-family: "Heroic",Arial Narrow,Helvetica,sans-serif;
}
.fonts-loaded h3 {
    font-family: "adelle-sans",Helvetica,sans-serif;
}
.c-list__title {
    position: relative;
}
.c-list__title {
    font-family: Arial Narrow,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1;
    text-transform: uppercase;
    font-size: 1.6em;
    border: 0 solid #393092;
    border-top-width: 0;
    border-bottom-width: 0;
    text-align: center;
    padding: 0 16px 8px 16px;
    margin: 0;
}
.c-list__title{
    background-color: transparent;
    color: #000;
    text-align: center;
}
.c-list__title {
    font-family: Arial Narrow,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .05em;
    line-height: normal;
    text-transform: uppercase;
    font-size: 1.9em;
    border-color: #EFEFF0;
    margin-bottom: 16px;
    padding: 8px 0;
}
.c-list__title {
    font-family: Helvetica,sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    text-transform: none;
    margin-bottom: .6rem;
}
.l-col__sidebar>* {
    margin-top: 1.2rem;
}
.c-list__title {
    font-size: calc(1em * 1.250 * 1.250);
}
.c-list__title {
    font-size: calc(1em * 1.250);
}
.c-list__title {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.c-list {
    background-color: #ffffff;
    color: #424242;
}
.c-list__title .c-list__title-wrapper, .c-list__title a, .c-list__title a:link {
    color: #e5127d;
}
.fonts-loaded .p-alt-head, .fonts-loaded .p-breaker-head, .fonts-loaded .p-entry-breaker-head, .fonts-loaded .c-rock-list__title {
    font-family: "Heroic",Arial Narrow,Helvetica,sans-serif;
}
.fonts-loaded h3 {
    font-family: "adelle-sans",Helvetica,sans-serif;
}
.c-list__title {
    background-color: transparent;
    color: #000;
    text-align: center;
}
.c-list__title .c-list__title-wrapper, .c-list__title a, .c-list__title a:link {
    color: #e5127d;
}
.c-list__title a {
    color: #e2127A;
}
.c-list__title a{
    color: currentColor;
}
.c-list__link .c-list__more  {
    transition: color .1s,background-color .1s,fill .1s;
    color: #e2127A;
    background-color: transparent;
}
a:-webkit-any-link {
    /* color: -webkit-link; */
    cursor: pointer;
}
.fonts-loaded .c-list__title {
    font-family: "Heroic",Arial Narrow,Helvetica,sans-serif;
}
.c-list__title .c-list__title-wrapper, .c-list__title a, .c-list__title a:link {
    color: #e5127d;
}
.c-list__title a {
    color: #e2127A;
}
.c-list__title, .c-list__more {
    color: #e2127A;
}
.c-list ol {
    list-style-type: none;
    margin: 0;
}
.orderedlist {
    margin-bottom: 1.2rem;
}
.orderedlist {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.fonts-loaded .c-list .fonts-loaded .c-list li {
    font-family: Helvetica, sans-serif;
}
 .c-list--image li {
    border-bottom: 1px solid #e7e7e8;
    padding: 16px 0;
}
.c-list li {
    position: relative;
}
.c-list .c-list li {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.3;
    text-transform: none;
    font-size: .8em;
    padding: 0;
    margin-bottom: 8px;
    background-color: transparent;
}
.orderedlist li {
    display: list-item;
    /* list-style-type: decimal; */
    text-align: -webkit-match-parent;
}
.c-list ol {
    list-style-type: none;
    margin: 0;
}
.c-list li a {
    color: #424242;
}
.c-list__image {
    position: relative;
}
.c-list__link {
    color: #424242;
}
.fonts-loaded .c-list li {
    font-family: Helvetica, sans-serif;
}
.c-list ol{
    list-style-type: none;
    margin: 0;
}
.c-list__image img {
    width: 100%;
}
.c-list__image {
    border: 0;
    max-width: 100%;
}
.c-list ol {
    list-style-type: none;
    margin: 0;
}
.c-list__cta {
    background-color:transparent;
    border:0 solid #393092;
    border-top-width:0;
    border-bottom-width:0;
    padding:6px;
    font-size:10px;
    font-weight: bold;
    text-align:right;
    text-transform:uppercase;
    letter-spacing:0
}
.c-list__more:after{
    margin-left:4px;
    content:" \25B6";
    font-size:.5em;
    vertical-align:middle
}
.c-list__more:before{
    bottom:-10px;
    left:-101px;
    right:-4px;
    width: 106px;
}
.c-list__more {
    position: relative;
    padding-top: 8px;
    font-family: Heroic,Arial Narrow,Helvetica,sans-serif;
}
.c-list__more:after, .c-list__more:before {
    background-color: #393092;
    content: "";
    height: 2px;
    position: absolute;
    z-index: 1;
}
.c-list__more:after {
    bottom: -12px;
    left: auto;
    right: -5px;
    transform-origin: top right;
    transform: rotate(120deg);
    width: 25px;
}
.l-col__sidebar{
    margin:0 auto;
    max-width: 1100px;
    margin-top: 125px;
}
.c-list:after{
    position:absolute;
    background-color:#393092;
    width:2px;
    content:"";
    bottom:25px;
    right:28px;
    top:201px;
    z-index:1
}
.c-list{
    width:30%;
    float: right;
    padding: 16px 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin-bottom: 0;
    width: 30%;
}
.c-title{
    font-size: 15px;
    line-height: 0px;
    letter-spacing: 0px;
}
.c-title:hover {
 color: #e2127A
}
.c-list__title-text{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0px;
    color: #e5127d;
}
::selection {
    background: #B4D5FF;
}
